<%
  if (typeof page_title === 'undefined') {
    var page_title = '';
  }

  if (typeof data === 'undefined') {
    var data = {
      head: 'default',
      body: 'default'
    };
  }
%>

<head>

<meta charset="UTF-8">

<title>
  <% if (page_title) { %>
    <%- page_title %> | WCB CAFE
  <% } else { %>
    WCB CAFE
  <% } %>
</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%- keywords %> ">
<meta name="author" content="<%- author %>">
<meta name="robots" content="<%- robots %> ">

<link rel="icon" type="image/png" href="images/common/favicon.png">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ress@4.0.0/ress.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="<%- stylePath %>/style.css">

</head>
